{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    User has been removed.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="testing-msg">
    <p>
        Like what you see? I'd love to hear from you!
    </p>
    <p>
        You can leave me your first name, last name, email by using +Add Information.
        <br> <strong> All Information
            will be viewable by other people</strong>.
        <br>
        Or fill out the form below and I will get a direct email.
    </p>
</div>

<div class="row">
    <div class="col-6">
        <h1>Contact Information</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a href="/add-info" type="button" class="btn btn-primary align-self-center ">+ Add Information</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            {{!-- <th scope="col">#</th> --}}
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>
            {{!-- <th scope="row">{{this.id}}</th> --}}
            <td scope="row" data-label="First Name">{{this.first_name}}</td>
            <td data-label="Last Name">{{this.last_name}}</td>
            <td data-label="Email">{{this.email}}</td>
            <td>
                <a href="/view-info/{{this.id}}" type="button" class="btn btn-light btn-small"> <i
                        class="bi bi-eye"></i> View</a>
                <a href="/edit-info/{{this.id}}" type="button" class="btn btn-light btn-small"> <i
                        class="bi bi-pencil"></i> Edit</a>
                <a href="/contact/{{this.id}}" type="button" class="btn btn-light btn-small"> <i
                        class="bi bi-person-x"></i>
                    Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="container">
    <div class="form-h1">
        <h1 class="brand">Contact Form</h1>
    </div>
    <div class="wrapper animated bounceInLeft">
        <div class="company-info">
            <h3>Email Me!</h3>
            <p>
                This form will sent me a direct private email.
            </p>
        </div>
        <div class="contact">
            <h3 class="sent-msg">{{msg}}</h3>

            <form method="POST" action="send">
                <p>
                    <label>Name</label>
                    <input type="text" name="name">
                </p>
                <p>
                    <label>Company</label>
                    <input type="text" name="company">
                </p>
                <p>
                    <label>Email Address</label>
                    <input type="email" name="email">
                </p>
                <p>
                    <label>Phone Number</label>
                    <input type="text" name="phone">
                </p>
                <p class="full">
                    <label>Message</label>
                    <textarea name="message" rows="5"></textarea>
                </p>
                <p class="full">
                    <button type="submit">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>